h2[id=title] {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    font-size: 45px;
    color: dodgerblue
}

div[id=topbar] {
    background-color: #0069B4;
    width: 100.93%;
    height: 120px;
    margin-left: -10px;
    margin-top: -120px;
    margin-right: 0px;
}

p[id=infotitle] {
    text-align: left;
    color: white;
    margin-left: 20px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div[id=design] {
    margin-left: -10px;
    background-color: #0069B4;
    width: 100.93%;
    height: 120px;
    margin-top: -10px;
}

a[id=schedule] {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-size: 30px;
    color: #0069B4;
}

div[id=bartwo] {
    padding-top: 20px;
    background-color: rgb(230, 230, 230);
    width: 100.93%;
    height: 280px;
    margin-left: -10px;
    margin-top: 0px;
    margin-right: 0px;
}

input[id=namebox], select {
    width: 35%;
    height: 65px;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 31.25%;
    background-color: #f5f5f5;
}

select[id=rank] {
    width: 35%;
    height: 65px;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 31.25%;
    background-color: #f5f5f5;
}

input[id=classkey], select {
    width: 35%;
    height: 65px;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 31.25%;
    background-color: #f5f5f5;
}

img[id=logo] {
    margin-top: 10px;
    margin-left: 45%;
}

button[id=submit] {
    width: 25%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    font-size: 20px;
    margin: 15px 0;
    margin-left: 35%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1%;
  }
  
button[id=submit]:hover {
    background-color: rgb(37, 132, 226);
}

p[id=welcome-text] {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 2%;
    color: rgb(58, 58, 58);
    font-size: 55px;
}

p[id=name] {
    font-family: Comfortaa;
    font-weight: 100;
    margin-top: -55px;
    margin-left: 2%;
    color: rgb(185, 158, 0);
    font-size: 55px;
}

p[id=info] {
    margin-top: 170px;
    margin-left: 10px;
    color: rgb(54, 54, 54);
    font-family: Comfortaa;
    font-size: 17px;
}

button[id=newsletterbtn1] {
    width: 15%;
    left: 1.5%;
    top: 3%;
    height: 7.5%;
    position: absolute;
    background: rgba(209, 50, 50, 0.801);
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 17.5px;
}

button[id=newsletterbtn1]:hover {
    background: rgba(180, 21, 21, 0.801);
    cursor: pointer;
}

img {
    height: 90%;
    margin-top: 0.6%;
    margin-left: 75%;
}

a[id=profile-btn] {
    margin-left: 74.5%;
    font-family: Comfortaa;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-top: 0.1%;
}

div[id=barthree] {
    padding-top: 20px;
    background-color: rgb(240, 240, 240);
    width: 100.93%;
    height: 300px;
    margin-left: -10px;
    margin-top: 0px;
    margin-right: 0px;
}

button[id=newsletterbtn2] {
    width: 21%;
    height: 70%;
    margin-left: 3%;
    margin-top: 1%;
    background-image: url('news\ icon.png');
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 17.5px;
}

button[id=music] {
    width: 21%;
    height: 70%;
    margin-left: 2%;
    margin-top: 1%;
    background-image: url('music\ icon.png');
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 17.5px;
}

p[id=credits] {
    margin-left: -89%;
    margin-top: 1%;
    font-weight: bold;
}

iframe[id=music-one] {
    margin-left: 1.5%;
    margin-top: 0%;
}

figure {
    margin: 0;
}

figcaption[id=text1] {
    font-family: Comfortaa;
    margin-top: 1%;
    font-weight: bold;
    margin-left: 1%;
}

audio[id=musicone] {
    margin-top: 0.5%;
    margin-left: 1.6%;
}

img[id=schema] {
    margin-right: 20%;
}

button[id=schedule] {
    width: 21%;
    height: 70%;
    margin-left: 2%;
    margin-top: 1%;
    background-image: url('schedule.png');
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 17.5px;
    background-size: 85%;
    background-position-x: 55%;
}

button[id=homework] {
    width: 21%;
    height: 70%;
    margin-left: 2%;
    margin-top: 1%;
    background-image: url('homework.jpg');
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 17.5px;
    background-size: 85%;
    background-position-x: 0%;
    background-size: 100%;
    background-repeat: no-repeat;
}

iframe[id=spotify-1] {
    margin-left: 23%;
    margin-top: 1%;
}

figcaption[id=text2] {
    font-family: Comfortaa;
    margin-top: -4.5%;
    font-weight: bold;
    margin-left: 25%;
}

iframe[id=spotify-2] {
    margin-left: 43.25%;
    margin-top: 1%;
}

figcaption[id=text3] {
    font-family: Comfortaa;
    margin-top: -22.5%;
    font-weight: bold;
    margin-left: 45%;
}

button[id=newsletterbtn1] {
    width: 15%;
    left: 1.5%;
    top: 3%;
    height: 7.5%;
    position: absolute;
    background: rgba(209, 50, 50, 0.801);
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 17.5px;
}

button[id=newsletterbtn1]:hover {
    background: rgba(180, 21, 21, 0.801);
    cursor: pointer;
}

button[id=newsletterbtn2]:hover {
    cursor: pointer;
}

button[id=newsletterbtn2] {
    box-shadow: 1px 1px 3px;
}

button[id=backbtn1] {
    margin-top: -50%;
}

.show-hide-btn:hover {
    opacity: 0.8;
    cursor: pointer;
    user-select: none;
}

a[id=student] {
    color:rgb(0, 183, 255);
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
    font-size: 35px;
    margin-left: 1%;
    font-family: Chilanka;
}

a[id=student]:hover { 
    color:rgb(0, 115, 160);
    cursor: pointer;
}

td, th {
    border: 2px solid #c2c2c2;
    text-align: left;
    padding: 15px;
}

table {
    font-family: Comfortaa;
    border-collapse: collapse;
    width: 30%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td[id=submitted-1] {
    background-color: rgb(0,255,0);
}

.content {
    margin-top: 1%;
    padding-top: 25%;
    margin-left: 25%;
    width: 50%;
    height: 100%;
    border: 2px solid rgb(22, 22, 22);
    border-radius: 10px;
    border-collapse: collapse;
}

.content-inner {
    padding-left: 47.5%;
    margin-top: -48.75%;
    margin-left: 1%;
    background-color: black;
    width: 50%;
    padding-top: 47.5%;
    height: 5%;
    border: 2px solid black;
    border-collapse: collapse;
}

.intro {
    margin-top: -50%;
    color: white;
    font-family: Comfortaa;
    font-size: 30px;
}

select[id=homework-choice] {
    width: 15%;
    height: 13%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 11.25%;
    background-color: #f5f5f5;
}

.homework-main {
    position: absolute;
    margin-top: -23.55%;
    margin-left: -18.75%;
}

.profileImg {
    cursor: pointer;
}
