h2[id=title] {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    font-size: 45px;
    color: dodgerblue
}

div[id=topbar] {
    background-color: #0069B4;
    width: 100.93%;
    height: 120px;
    margin-left: -10px;
    margin-top: -120px;
    margin-right: 0px;
}

p[id=infotitle] {
    text-align: left;
    color: white;
    margin-left: 20px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div[id=design] {
    margin-left: -10px;
    background-color: #0069B4;
    width: 100.93%;
    height: 120px;
    margin-top: -10px;
}

a[id=schedule] {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-size: 30px;
    color: #0069B4;
}

div[id=bartwo] {
    padding-top: 20px;
    background-color: rgb(230, 230, 230);
    width: 100.93%;
    height: 280px;
    margin-left: -10px;
    margin-top: 0px;
    margin-right: 0px;
}

input[id=namebox], select {
    width: 35%;
    height: 65px;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 31.25%;
    background-color: #f5f5f5;
}

select[id=rank] {
    width: 35%;
    height: 65px;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 31.25%;
    background-color: #f5f5f5;
}

input[id=classkey], select {
    width: 35%;
    height: 65px;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 31.25%;
    background-color: #f5f5f5;
}

img[id=logo] {
    margin-top: 10px;
    margin-left: 45%;
}

button[id=submit] {
    width: 25%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    font-size: 20px;
    margin: 15px 0;
    margin-left: 35%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1%;
  }
  
button[id=submit]:hover {
    background-color: rgb(37, 132, 226);
}

p[id=welcome-text] {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 2%;
    color: rgb(58, 58, 58);
    font-size: 55px;
}

p[id=name] {
    font-family: Comfortaa;
    font-weight: 100;
    margin-top: -55px;
    margin-left: 2%;
    color: rgb(185, 158, 0);
    font-size: 55px;
}

p[id=info] {
    margin-top: 170px;
    margin-left: 10px;
    color: rgb(54, 54, 54);
    font-family: Comfortaa;
    font-size: 17px;
}

button[id=newsletterbtn1] {
    width: 15%;
    left: 1.5%;
    top: 3%;
    height: 7.5%;
    position: absolute;
    background: rgba(209, 50, 50, 0.801);
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 17.5px;
}

button[id=newsletterbtn1]:hover {
    background: rgba(180, 21, 21, 0.801);
}

img {
    height: 90%;
    margin-top: 0.6%;
    margin-left: 75%;
}

a[id=profile-btn] {
    margin-left: 74.5%;
    font-family: Comfortaa;
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-top: 0.1%;
}

div[id=barthree] {
    padding-top: 20px;
    background-color: rgb(240, 240, 240);
    width: 100.93%;
    height: 300px;
    margin-left: -10px;
    margin-top: 0px;
    margin-right: 0px;
}

button[id=newsletterbtn2] {
    width: 21%;
    height: 70%;
    margin-left: 3%;
    margin-top: 1%;
    background-image: url('news\ icon.png');
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 17.5px;
}

button[id=music] {
    width: 21%;
    height: 70%;
    margin-left: 5%;
    margin-top: 1%;
    background-image: url('music\ icon.png');
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 17.5px;
}

p[id=credits] {
    margin-left: -60%;
    margin-top: 34%;
}

iframe[id=music-one] {
    margin-left: 1.5%;
    margin-top: 0%;
}

figure {
    margin: 0;
}

figcaption[id=text1] {
    font-family: Comfortaa;
    margin-top: 1%;
    font-weight: bold;
    margin-left: 1%;
}

audio[id=musicone] {
    margin-top: 0.5%;
    margin-left: 1.6%;
}

img[id=schema] {
    margin-right: 20%;
}

button[id=schedule] {
    width: 21%;
    height: 70%;
    margin-left: 7%;
    margin-top: 1%;
    background-image: url('schedule.png');
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    font-size: 17.5px;
    background-size: 85%;
    background-position-x: 55%;
}